@model CompleteApp.Models.tbluserchangepassword
@{
    ViewBag.Title = "UserChangePassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>User Change Password</h2>

@using (Html.BeginForm("UserChangePassword", "ChangePassword", FormMethod.Post))
{

    <table>

        <tr>

            <td>Old Password :</td>
            <td>@Html.TextBoxFor(x => x.oldpassword)</td>

        </tr>

        <tr>

            <td>New Password :</td>
            <td>@Html.TextBoxFor(x => x.newpassword)</td>

        </tr>

        <tr>

            <td>Confirm New Password :</td>
            <td>@Html.TextBoxFor(x => x.confirmnewpassword)</td>

        </tr>

        <tr>

            <td></td>
            <td><input type="submit" value="Confirm" class="btn btn-warning" /></td>

        </tr>

        <tr>

            <td></td>
            <td>

                @if(ViewBag.msg != null)
                {
                    <span>@ViewBag.msg</span>
                }

            </td>

        </tr>

    </table>

}

